DATABASE_URL="postgres://postgres:postgrespassword@localhost:5432/zedarchive"
DISCORD_TOKEN=""
DISCORD_APPLICATION_ID=""
DISCORD_PUBLIC_KEY=""
DISCORD_DEV_GUILD_ID=""
DISCORD_LINK_PEPPER=""
APP_URL="http://localhost:3000"
DISCORD_BOT_PUBLIC_NAME="ZedArchive"
